{% extends 'admin/edit_inline/backbone.html' %}

{% block emptyForm %}
    {% with inline_admin_formset.formset.prefix as prefix %}
    {% for field in inline_admin_formset.formset.empty_form.hidden_fields %}
        {{ field }}
    {% endfor %}
    <div class="gfkWrapper">
    {{ inline_admin_formset.formset.empty_form.object_id }}
    </div>
    {{ inline_admin_formset.formset.empty_form.deletion_field.as_hidden_field }}

    <script>
    $(document).ready(function() {
        armstrong.widgets.generickey($, {
          facetURL: "{% url admin:generic_key_facets %}",
          queryLookupURL: "{% url admin:type_and_model_to_query %}",
          id: "id_{{ prefix }}-__prefix__-object_id"
        });
        window.App = new window.NodeListView({
            prefix: '{{ prefix }}',
            el: '#{{ prefix }}-collection'
        });
        window.App.addAll();
    });
    </script>
    {% endwith %}

{% endblock %}

{% block templates %}
<script type="text/template" id="{{ prefix }}-list-item-template">
    <button class="delete">Delete</button
    <span class="content"><%= attributes.content_type %> - <%= attributes.object_id %></span>
    <b><%= attributes.order %></b>
</script>
{% endblock %}
